@charset "UTF-8";
main > .register .gallery, main > .register .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }
  @media all and (min-width: 1080px) {
    * {
      font-size: 11pt; } }
  @media all and (max-width: 1079px) and (min-width: 480px) {
    * {
      font-size: 8pt; } }
  @media all and (max-width: 480px) {
    * body {
      font-size: 12pt; } }

main > .register .content {
  color: white;
  background-color: #4667FF; }

main > .register {
  padding-top: 90px;
  padding-bottom: 90px; }
  main > .register .gallery {
    z-index: -1;
    height: 500px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute; }
    main > .register .gallery img {
      height: 100%;
      width: auto;
      position: relative;
      margin-left: 0;
      opacity: 0.2;
      visibility: hidden; }
      main > .register .gallery img.current {
        opacity: 1; }
      main > .register .gallery img.additional:first-of-type, main > .register .gallery img.additional:last-of-type {
        opacity: 1; }
    main > .register .gallery .slide {
      visibility: visible; }
    main > .register .gallery .left {
      position: absolute;
      z-index: 4;
      cursor: pointer;
      top: 221px;
      left: 20px;
      width: 26px;
      height: 58px;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='58'><line x1='25' y1='1' x2='1' y2='29' stroke-width='5' stroke-linecap='round' stroke='rgb(255,255,255)'  /><line x1='1' y1='29' x2='25' y2='57' stroke-linecap='round' stroke-width='5' stroke='rgb(255,255,255)' /> </svg>") no-repeat; }
    main > .register .gallery .right {
      position: absolute;
      z-index: 4;
      cursor: pointer;
      top: 221px;
      right: 20px;
      width: 26px;
      height: 58px;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='58'><line x1='1' y1='1' x2='25' y2='29' stroke-width='5' stroke-linecap='round' stroke='rgb(255,255,255)'  /><line x1='25' y1='29' x2='1' y2='57' stroke-linecap='round' stroke-width='5' stroke='rgb(255,255,255)' /> </svg>") no-repeat; }
  main > .register nav {
    position: absolute;
    bottom: 20px;
    width: auto;
    z-index: 4; }
    main > .register nav div {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      margin: 0 8px;
      background: transparent;
      border-radius: 8px;
      overflow: hidden;
      text-indent: -999em;
      border: 3px solid white;
      cursor: pointer; }
      main > .register nav div.current {
        background-color: white; }
  main > .register .content {
    z-index: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    padding: 40px;
    margin-left: 1em;
    width: 40%;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media all and (min-width: 1080px) {
      main > .register .content .intro {
        width: 440px; } }
    @media all and (max-width: 1079px) {
      main > .register .content .intro {
        width: 52%; } }
    main > .register .content .intro h3 {
      padding-bottom: 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20pt;
      border-bottom: 1px dashed white; }
      main > .register .content .intro h3 img {
        width: 32%;
        padding-bottom: 30px; }
    main > .register .content .intro table.information {
      width: 100%; }
      main > .register .content .intro table.information tr th {
        text-align: left; }
      main > .register .content .intro table.information tr td {
        font-weight: bold;
        text-align: right; }
    @media all and (min-width: 1080px) {
      main > .register .content .form {
        width: 440px; } }
    @media all and (max-width: 1079px) {
      main > .register .content .form {
        width: 40%; } }
    main > .register .content .form .notification {
      display: none; }
    main > .register .content .form.sent > form {
      display: none; }
    main > .register .content .form.sent > .notification {
      display: block;
      border: 5px solid #ee5930;
      font-size: 20pt;
      text-align: center;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 5%; }
    main > .register .content .form span {
      display: none; }
    main > .register .content .form input[type=text],
    main > .register .content .form input[type=date],
    main > .register .content .form input[type=email] {
      width: 100%;
      background-color: #4667FF;
      color: white;
      border: 0;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 20px; }
      main > .register .content .form input[type=text]:focus,
      main > .register .content .form input[type=date]:focus,
      main > .register .content .form input[type=email]:focus {
        border: 0;
        border-bottom: 1px solid white; }
      main > .register .content .form input[type=text]::-webkit-input-placeholder,
      main > .register .content .form input[type=date]::-webkit-input-placeholder,
      main > .register .content .form input[type=email]::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: white; }
      main > .register .content .form input[type=text]::-moz-placeholder,
      main > .register .content .form input[type=date]::-moz-placeholder,
      main > .register .content .form input[type=email]::-moz-placeholder {
        /* Firefox 19+ */
        color: white; }
      main > .register .content .form input[type=text]:-ms-input-placeholder,
      main > .register .content .form input[type=date]:-ms-input-placeholder,
      main > .register .content .form input[type=email]:-ms-input-placeholder {
        /* IE 10+ */
        color: white; }
      main > .register .content .form input[type=text]:-moz-placeholder,
      main > .register .content .form input[type=date]:-moz-placeholder,
      main > .register .content .form input[type=email]:-moz-placeholder {
        /* Firefox 18- */
        color: white; }
    main > .register .content .form .entry.required {
      position: relative; }
      main > .register .content .form .entry.required::after {
        display: block;
        content: "â—";
        font-family: monospace;
        width: 36px;
        height: 43px;
        font-size: 22px;
        line-height: 43px;
        position: absolute;
        right: 0px;
        bottom: 16px;
        color: #ee5930;
        z-index: 0; }
    main > .register .content .form input[type=submit] {
      opacity: 0.5;
      font-size: 17pt;
      font-weight: bold;
      background-color: #ee5930;
      color: white;
      border: 0;
      border-radius: 60px;
      padding: 10px 20px;
      display: block;
      margin-top: 20px; }
    main > .register .content .form select {
      width: 100%;
      background-color: #4667FF;
      color: white;
      border: 0;
      border-bottom: 1px solid white;
      border-radius: 0;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      -moz-appearance: none;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 20px; }
    main > .register .content .form .entry.select {
      position: relative; }
      main > .register .content .form .entry.select::after {
        display: block;
        content: "";
        font-family: monospace;
        width: 20px;
        height: 10px;
        position: absolute;
        right: 0px;
        bottom: 16px;
        color: #ee5930;
        z-index: 0;
        background-image: url(../../icons/arrow-form.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 20px;
        padding-right: 18px; }
  main > .register .footnote {
    font-weight: lighter;
    padding-top: 10px;
    width: 100%; }
