@import 'common.scss';

main > .register {
    position: relative;
    background-color: $blue;

    & > div:first-child {
        @extend %flexbox;
		@include flex-direction(row);
        @include align-items(center);

        position: relative;
        z-index: 2;

        & > .block {
            width: 30%;

            & > * {
                margin-left: 15px;
                margin-right: 15px;

                &:first-child {
                    padding-top: 20px;
                }

                &:last-child {
                    padding-bottom: 20px;
                }
            }

            & > .intro {
                & > *:first-child {
                    font-size: 14pt;
                    font-weight: bold;
                    text-transform: uppercase;
                    border-bottom: 1px dashed white;
                    padding-bottom: 15px;
                }

                & > .information {
                    padding-bottom: 40px;
                    padding-top: 10px;
                    & > * {
                        @extend %flexbox;
                		@include flex-direction(row);
                        @include justify-content(space-between);
                    }
                }
            }

            & > .form  {
                padding-bottom: 20px;

    			.notification {
    				display: none;
    			}

    			&.sent > form {
    				display: none;
    			}

    			&.sent > .notification {
    				display: block;

    				border: 5px solid $red;
    				font-size: 20pt;

    				text-align: center;

    				box-sizing: border-box;
    				-webkit-box-sizing: border-box;
    				-moz-box-sizing: border-box;

    				width: 100%;
    				height: 100%;
    				padding: 5%;
    			}

    			span {
    				display: none;
    			}

    			input[type=text], input[type=date], input[type=email] {

                    width: 100%;

    				background-color: $blue;
    				color: white;

    				border: 0;
    				border-bottom: 1px solid white;

    				padding-bottom: 10px;
    				padding-top: 10px;

    				margin-bottom: 20px;

    				&:focus {
    					border: 0;
    					border-bottom: 1px solid white;
    				}

    				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    					color: white;
    				}
    				&::-moz-placeholder { /* Firefox 19+ */
    					color: white;
    				}
    				&:-ms-input-placeholder { /* IE 10+ */
    					color: white;
    				}
    				&:-moz-placeholder { /* Firefox 18- */
    					color: white;
    				}

    			}

    			.entry.required {
    				position: relative;

    				&::after {
    					display: block;
    					content: "â—";
    					font-family: monospace;
    					font-size: 22px;
    					line-height: 43px;
    					position: absolute;
    					right: 0px;
    					bottom: 16px;
    					color: $red;
    					z-index: 0;
    				}
    			}

    			input[type=submit] {
    				opacity: 0.5;

    				font-size: 15pt;
    				font-weight: bold;

    				background-color: $red;
    				color: white;

    				border: 0;
    				border-radius: 60px;
    				padding: 10px 20px;
    				display: block;
    			}
            }

            & > .footnote {
                @extend %flexbox;
        		@include flex-direction(row);

                width: 75%;

                &:before {
                    content: "";
                    display: inline-block;
                    background-image: url(../../icons/star.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;

                    height: 20px;
                    width: 20px;
                    margin-right: 10px;
                }

                & > div {
                    font-size: 6pt;
                }
            }

            @extend %blue;
        }
    }

    & > .background-images {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        z-index: 1;

        background-image: url(../../photos/registration-photo-1.png);
        background-repeat: no-repeat;
        background-size: cover;

        & > * {
            display: none;
        }
    }

    & > nav {
        display: flex;
        justify-content: center;

        position: absolute;
        z-index: 10;
        width: 100%;
        bottom: 30px;

        & > div {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            margin-right: 8px;
            background: transparent;
            border-radius: 8px;
            overflow: hidden;
            text-indent: -999em;
            border: 2px solid white;
            cursor: pointer;

            &.current {
                background-color: white;
            }
        }
    }

	@extend %double-row;
}
