@import 'common.scss';

main > .reviews {
	@include flex-direction(column);
	@include justify-content(center);

    max-width: 100%;

    @media all and (min-width: $large) {
		padding-left: calc(50% -  540px);
		padding-right: calc(50% - 540px);

	}

	@media all and (max-width: $large - 1) {
		padding-left: 2%;
		padding-right: 2%;
	}

    & > ul {
        @extend %flexbox;
        @include flex-direction(row);
        max-width: 100%;

        list-style-type: none;

        & > li {
            display: none;
            min-width: 32%;
            padding-right: 2%;

            overflow: hidden;

            &.current, &.current + li, &.current + li + li, &.current + li + li + li {
                display: block;
            }

            &.current + li + li + li {
                opacity: 0.5;
            }

        	& > img:first-child {
        		width: 531px;
        		max-width: 100%;
        	}

        	& > img:last-child {
        		display: none;
        	}
        }
    }

	@extend %blue, %row;

}
